body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#direction {
    width: 100px; 
    height: auto; 
    transition: opacity 0.3s ease;

}